.me {
  object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;

}

#me-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 56.9vh;
}